.helped {
    &-block {
        padding: 50px 0px;
    }
    &__title {
        max-width: 900px;
        padding-top: 23px;
        margin: 0 auto 34px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        flex-grow: 1;
    }
    .item {
        max-width: 369px;
        &:not(:last-child) {
            margin-right: 10px;
        }
        &__img {
            position: relative;
            margin-bottom: 16px;
            img {
                display: block;
                border-radius: 5px;
                min-width: 368px;
                max-height: 176px;
            }
            &::before,
            &:after {
                position: absolute;
                width: 50%;
                height: 25px;
                bottom: 0;
                text-align: center;
                color: #fff;
                font-size: 20px;
                line-height: 27px;
            }
            &::before {
                content: "До";
                background-color: #f77d2f;
                left: 0;
            }
            &::after {
                content: "После";
                background-color: #48afcd;
                right: 0;
            }
        }
        &__person {
            text-align: center;
            font-size: 22px;
            line-height: 45px;
        }
    }
    &__bullets {
        display: flex;
        flex: 0 0;
        justify-content: center;
        &-img:not(:last-child) {
            margin-right: 20px;
        }
    }
}

@include r(1023) {
    .helped {
        .item {
            max-width: 290px;
            &__img {
                margin-bottom: 0;
            }
            &__person {
                text-align: center;
                font-size: 16px;
                line-height: 45px;
            }
        }
    }
}

@include r(767) {
    .helped {
        &__list {
            flex-direction: column;
        }
        .item {
            max-width: 90%;
            margin-bottom: 20px;
            &:not(:last-child) {
                margin-right: 0px;
            }
            &__person {
                text-align: center;
                font-size: 18px;
                line-height: 45px;
            }
        }
    }
}

@include r(479) {
    .helped {
        .item {
            &__person {
                font-size: 16px;
            }
        }
        &__bullets {
            &-img:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}