.form__approved {
	margin-bottom: 15px;
	padding: 9px 0 3px 60px;
	font-size: 14px;
	color: #222;
	font-weight: 400;
	line-height: 1.3;
	background: url(../img/ministry.png) no-repeat 12px 16%;

  @include r(1330) {
    padding-left: 120px;
    background-position: 70px 50%;
  }
}
.price-star{
	position: relative;
	top: -7px;
}
.form__action {
  width: 117px;
  height: 89px;
  right: -78px;
  top: -35px;

  display: block;
  position: absolute;
  background: url("../img/action-bg.png") no-repeat;

  @include r(1330) {
    left: -60px;
  }

  @include r(479) {
    top: -40px;
		left: -26px;
		width: 90px;
		height: 71px;
		background-size: contain;
  }
}

.form__action-text {
  left: 50%;
  top: 50%;
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
  position: absolute;
	transform: translate(-54%, -62%) rotate(-38deg);
	@include r(479) {
    font-size: 20px;
  }
}

.form__attention {
  margin-bottom: 11px;
  font-size: 28px;
  font-weight: 500;
}

.form__term {
  margin: 0 0px 18px;
  font-weight: 700;
  font-size: 24px;
  color: #000;
  line-height: 1;
}

.form__free {
  margin-bottom: 20px;
  font-size: 20px;
  color: #ff3612;
}

.form {
  width: 100%;
  max-width: 270px;
  min-width: 270px;
	background-color: #48afcd;
	border: 3px solid #48afcd;
  border-radius: 5px;
  border: 3px solid $content-color;
  text-align: center;
  position: relative;
  box-shadow: 0 21px 25px rgba(125, 133, 134, 0.15);
}
.form__top{
	background-color: #fff;
	padding: 23px 20px 18px;
	border-radius: 3px 3px 0 0;
}

.form__input-wrap {
  margin-bottom: 15px;
  position: relative;
}

.form__input {
  width: 100%;
  padding: 20px;
  padding-left: 57px;
  border-radius: 10px;
  border: 1px solid #dfe2e3;
  position: relative;
	font-size: 16px
}

.form__input:hover {
  box-shadow: inset 2px 3px 4px rgba(2, 3, 3, 0.1);
}

.form__input-wrap--name::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 19px;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/name.svg") no-repeat 50%;
  z-index: 1;
}

.form__input-wrap--tel::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 24px;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/icon-tel.png") no-repeat 50%;
  z-index: 1;
}

.form .input::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

.form input::-moz-placeholder {
  color: #666;
  opacity: 1;
}

.form input:-moz-placeholder {
  color: #666;
  opacity: 1;
}

.form input:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

[class^="date-"] {
  display: inline-block;
  text-transform: lowercase;
}

.form__button {
	margin-bottom: 14px;
	margin-top: 15px;
}

.form__button-free {
  font-size: 20px;
  font-weight: 500;
}

.form__note {
	text-align: center;
	font-size: 14px;
	color: #555;
}

.form__secure {
  margin-top: 16px;
  padding: 5px 0 5px 60px;
  font-size: 15px;
	background: url("../img/icon-secure.png") no-repeat 24px 50%;
	color: #403737;
}

.promo .form__reviews-amount {
  margin-top: 10px;
  padding-left: 37px;

  &:before {
    display: none;
    // width: 119px;
    // left: 27px;
    // background: url(../img/star.png) repeat-x 0 50%;
    // background-size: 24px;
  }

  @include r(1023) {
    margin-top: 0;
    position: absolute;
    left: -261px;
    bottom: 60px;
  }

  @include r(767) {
    left: -355px;
    bottom: 3px;
  }

  @include r(639) {
    margin-top: 15px;
    position: relative;
		left: 0;
		padding-left: 0;
  }
}
.reviews-amount__wrap{
	@include r(639) {
    justify-content: center;
  }
}

.promo .reviews-amount__star {
  width: 120px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  background: url(../img/star.png) repeat-x 0 50%;
  background-size: 24px;
  position: relative;
  bottom: -2px;
}

.promo .reviews-amount__link {
  font-size: 15px;
  color: #444444;
  text-decoration: underline;
}

// .x_price_previous,
// .x_price_current,
// .x_currency {
//   font-size: 0;
//   visibility: hidden;
// }
.form__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;

  width: 100%;
  margin-top: 16px;
  position: relative;
  margin-bottom: 16px;
}
.form__price-val {
  text-align: left;
}
.form__price-title {
  font-size: 13px;
  color: #666;
}
.form__price-title--new {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}
.form__price-before {
  font-size: 28px;
  color: #a2a1a1;
  margin-top: 14px;
}
.form__price-before_line {
  position: relative;
}
.form__price-before_line::after,
.form__price-before_line::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f23e2b;
  position: absolute;
  top: 50%;
  left: 0;
}
.form__price-before_line::before {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.form__price-before_line::after {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.form__price-before_size {
  font-size: 16px;
}
.form_before {
  display: block;
  width: 1px;
  margin-top: 3px;
  height: 50px;
  background-color: #d1d0d0;
}
.form__price-after {
  font-size: 40px;
  color: #000;
  font-weight: 900;
  margin-top: 5px;
}
.form__price-after_size {
  font-size: 16px;
  font-weight: 400;
}
.form__price-after .x_currency {
  color: #000;
  font-weight: 500;
}
.form__online {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  border-radius: 1px;
  border: 3px solid #48afcd;
  background-color: #48afcd;
  position: relative;
  padding: 11px 0 11px 26px;
	margin: 19px -20px 0;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-60%);
		left: 10px;
		width: 26px;
		height: 15px;
		background:url(../img/online-icon.png) center;
	}
}
.online-people, .online-sold{
	display: flex;
	align-items: center;
	p {
		font-size: 15px;
		color: #fff;
		margin-left: 8px;
		transition: .2s;
	}
}

.online-wrapper{
	overflow: hidden;
	height: 15px;}

.online-block{
	padding: 16px 5px 12px 8px;}
	.reviews-amount__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}