.move
	padding: 12px 0 14px
	position: relative
	background-color: #ebebeb
	.container
		position: relative
	+r(1023)
		padding-top: 50px
		padding-bottom: 50px 
	+r(767)
		padding-top: 40px
		padding-bottom: 40px  
	+r(479)
		padding-top: 30px 
		padding-bottom: 30px 

	&-content
		display: flex
		align-items: center
		justify-content: flex-end
		+r(1219)
			justify-content: center
		+r(1023)
			padding-top: 25px
		+r(639)
			padding-top: 0
		+r(479)
			flex-direction: column
	&-info
		display: flex
		justify-content: center
		align-items: center
		+r(639)
			flex-direction: column
			align-items: center
			justify-content: center
		+r(767)
			margin-left: 15px
		+r(639)
			margin-left: -15px
			max-width: 245px
		+r(479)
			margin-left: 0
	&-pack
		max-width: 110px
		position: relative
		flex-shrink: 0
		left: -35px
		top: 2px
		+r(1023)
			max-width: 80px
		+r(767)
			max-width: 80px
		+r(639)
			max-width: 150px
		+r(479)
			margin-bottom: 10px
			max-width: 160px
			left: 0
		&__action
			width: 121px
			height: 83px
			background: url(../img/action-bg.png) no-repeat center
			background-size: contain
			right: -93px
			position: absolute
			top: 45px
			+r(1023)
				right: 30px
				top: 0px
				width: 90px
				height: 70px
			+r(767)
				right: -55px
			+r(639)
				top: 0px
				right: -20px
		&__text
			left: 50%
			top: 50%
			font-size: 28px
			color: #fff
			position: absolute
			transform: translate(-55%,-60%) rotate(-35deg)
			font-weight: 900
			+r(1023)
				font-size: 22px
		&__text-persent
			font-size: 18px		
				

	&-btn
		max-width: 265px
		margin-left: 26px
		width: 265px
		+r(1023)
			margin-left: 0px
			margin-top: 0px
			max-width: 100%
			width: 220px
			padding-top: 7px
			padding-bottom: 7px
		+r(639)
			margin-top: 10px
			margin-left: 0
			width: 258px
	&__title
		margin-left: 60px
		max-width: 241px
		color: #000000
		font-size: 18px
		line-height: 22px
		position: relative
		margin-right: 32px
		width: 100%
		padding-right: 29px
		+r(1219)
			margin-left: 62px
		+r(1023)
			margin-left: 0px
			padding-right: 0
			margin-right: 0px
			text-align: center
			font-size: 22px
			max-width: 100%
			position: absolute
			top: 0
			left: 0
			right: 0
		+r(639)
			position: static
			font-size: 17px
		// &::before
			// content: ''
			// position: absolute
			// top: 4px
			// right: 0
			// width: 1px
			// height: 60px
			// background-color: #d5d5d5
			+r(1023)
				display: none
		.color-orange
			color: #f1740f
			font-weight: 900
	
	&-timer
		display: flex
		+r(1219)
			flex-direction: column
		+r(1023)
			margin-right: 30px
		+r(639)
			margin-right: 0
			margin-top: 5px
		&__title
			margin-top: 5px
			color: #222
			font-size: 16px
			line-height: 18px
			max-width: 137px
			margin-right: 18px
			+r(1219)
				margin-right: 0
				text-align: center
				max-width: 100%
				margin-bottom: 5px
				margin-top: 0px
			+r(1023)
				margin-top: 0px
	.timer__cell
		background-color: #48afcd