section.composition.block(id='composition')
	.container
		h2.title
			span.product-color VARITONUS
			|  решит проблему варикозного расширения вен
		p.composition__subtitle тонизирует стенки сосудов и улучшает кровоток
		.composition-content
			.composition-item-box.composition-item-box-left
				.composition-item
					.composition-item__img
						img(src='img/composition-1.png' alt='composition')
						span.composition-line.composition-line-first
					.composition-item-info
						h4.composition-item__title Экстракт виноградных листьев
						p.composition-item__text Снижает проницаемость
							br
							| сосудов
				.composition-item
					.composition-item__img
						img(src='img/composition-3.png' alt='composition')
						span.composition-line.composition-line-second
					.composition-item-info
						h4.composition-item__title Корень кукольника
						p.composition-item__text Дезодорируют и снижают
							br
							| потливость
			.composition-pack
				img.composition-pack__quality-img(src='img/quality_.png' alt='quality')
				img.composition-pack__img(src='img/pack.png' alt='Варилиф')
				img.composition-pack__certificate(src='img/certificate.jpg' alt='certificate')
			.composition-item-box.composition-item-box--margin
				.composition-item
					.composition-item__img
						img.fix-h(src='img/composition-2.png' alt='composition')
						span.composition-line.composition-line--right.composition-line-third
					.composition-item-info
						h4.composition-item__title Экстракт гамамелиса
						p.composition-item__text Непосредственно влияет на&nbsp;рассасывание&nbsp;тромбов
				.composition-item
					.composition-item__img
						img(src='img/composition-4.png' alt='composition')
						span.composition-line.composition-line--right.composition-line-fourth
					.composition-item-info
						h4.composition-item__title Листья гинко-билоба
						p.composition-item__text Повышает эластичность стенок кровеносных сосудов
		p.composition__propose.text-bold Избавьтесь от варикоза
			br
			| и верните своим ногам силу и здоровье!
		button.btn.composition__btn Заказать
			.btn--small со скидкой


