section.doctor.block
	.container
		h2.title Мнение эксперта о 
			span.product-color VARITONUS
		.subtitle врач высшей категории, профессор, флеболог НИИ Флебологии РФ
		.doctor-content
			.doctor-content-img
				img(src="img/doctor.png", alt="Геннадий Б")
			.doctor-text
				p.doctor-text__a Многие мои пациенты рассказывают, что раньше им помогали народные методы лечения такого распространенного заболевания, как варикоз, но потом эффект снизился до нуля.
					|  На&nbsp;самом деле, проблема в том, что лечения как такового не происходит, вы лишь снимаете симптомы этого заболевания.
					|  Как&nbsp;любая болезнь, варикозное расширение вен требует адекватного лечения, подобранного специалистом.
				p.doctor-text__a Как врач с большим опытом, могу смело рекомендовать лишь Флеболайф, поскольку он зарекомендовал себя наилучшим образом. Он великолепно тонизирует сосуды и возвращает эластичность ослабленным стенкам вен, из-за чего и возникают варикозные узлы. Если вы подбираете себе лечение самостоятельно, рекомендую остановить выбор на Флеболайф.
				p.doctor-text__a На сегодня это лучшее средство в борьбе с варикозным расширением вен.
				h3.doctor-text__name Иван Грачинский,
				p.doctor-text__post врач высшей категории, профессор, флеболог НИИ Флебологии РФ

