ul.header__info
	li.info__item.info__line
		a.info__link(href="#composition")
			img.info__icon(src="img/header-1.png", alt="header-1")
			p.info__text Состав
	li.info__item.info__line
		a.info__link(href="#reviews")
			img.info__icon(src="img/header-2.png", alt="header-2")
			p.info__text Отзывы
	li.info__item
		<div class="timer">
			<div class="timer__wrap info__timer">
				<div class="timer__title info__timer-title">До конца акции осталось:</div>
				<div class="timer__body timer__body">
					<div class="timer__cell hours">0</div>
					<div class="timer__cell hours">0</div>
					<div class="timer__colon">:</div>
					<div class="timer__cell minutes">1</div>
					<div class="timer__cell minutes">1</div>
					<div class="timer__colon">:</div>
					<div class="timer__cell seconds">4</div>
					<div class="timer__cell seconds">6</div>
				</div>
			</div>
		</div>
