header.header
  .container
    .header__wrap
        button.menu__button(type="button")
            span.menu__line
        .header__logo.logo
          img.logo__img(src="img/logo.png", alt="urotex")
        include header__info
        button.header__btn.btn.ever-popup-btn(type="button")
          span.text-bold Заказать
