section.helped.helped-block.block
    .container
        h2.helped__title.title 
            span.product-color VARITONUS
            |  - помог уже сотням клиентов
        ul.helped__list
            li.helped__item.item
                .item__img
                    img(src="img/helped__pic1.jpg", alt="leg before and after")
                .item__person.text-bold Лиза Малевинская, 37лет
            li.helped__item.item
                .item__img
                    img(src="img/helped__pic2.jpg", alt="leg before and after")
                .item__person.text-bold Сергей Матюх, 40 лет
            li.helped__item.item
                .item__img
                    img(src="img/helped__pic3.jpg", alt="leg before and after")
                .item__person.text-bold Людмила Алексеевна, 35 лет
        .helped__bullets
            img.helped__bullets-img(src="img/helped__bullet1.png", alt="approved")
            img.helped__bullets-img(src="img/helped__bullet2.png", alt="medical")
            img.helped__bullets-img(src="img/helped__bullet3.png", alt="best choice")




