.main__form
	p.form__approved ОДОБРЕНО
		br
		| МИНЗДРАВОМ РФ
	form.form.x_order_form(action="/submit" method="post")
		.form__action
			span.form__action-text.text-black  -50%
		.form__top
			p.form__term  Только сегодня
				br
				span.date-0.nowrap(data-format="dd month")
			.form__price
				.form__price-val
					h5.form__price-title Старая цена
					p.form__price-before
						span.x_price_previous.form__price-before_line 1980
						span.x_currency.form__price-before_size руб
				.form_before
				.form__price-val
					h5.form__price-title.form__price-title--new Новая цена
					p.form__price-after
						span.x_price_current 990
						span.x_currency.form__price-after_size руб
						span.form__price-after_size *
			.form__input-wrap.form__input-wrap--name
				input.form__input.form__input--name(type="text" name="name" placeholder="Мое имя" required)
			.form__input-wrap.form__input-wrap--tel
				input.form__input.form__input--tel(type="tel" name="phone" placeholder="Мой телефон" required)
			button.form__button.btn Заказать
				.form__button-free со скидкой
			p.form__note  *при оформлении заказа
		.online-block
			.online-wrapper
				.online-people 
					img(src="img/eye.png" alt="online")
					p Сейчас на сайте 
						span.text-bold.online-dynamic 27  
						|   человек
				.online-sold
					img(src="img/eye.png" alt="online")
					p
						span.text-bold 116 
						| продаж за последний час
	p.form__secure Ваши данные защищены!
	.reviews-amount.form__reviews-amount
		a.reviews-amount__wrap(href="#reviews")
			.reviews-headStar(style={'width':'112px'})
			.reviews-amount 142 отзыва
						
