section.move
	.container
		.move-content
			.move-pack
				img(src="img/pack.png", alt="Варилиф ")
				span.move-pack__action
					.move-pack__text -50
						span.move-pack__text-persent %
			.move-info
				h3.move__title Успейте заказать со скидкой
					span.color-orange.text-bold  
						span.text-nowrap до 
							span.dete-0 15.01.2019
				.timer.move-timer
					.timer__title.move-timer__title До конца акции осталось:
					.timer__body
						.timer__cell.hours 0
						.timer__cell.hours 0
						.timer__colon :
						.timer__cell.minutes 27
						.timer__cell.minutes 27
						.timer__colon :
						.timer__cell.seconds 0
						.timer__cell.seconds 0
				.btn.move-btn.ever-popup-btn Получить 
					.btn--small со скидкой