section.order.block
	.container
		h2.title Как заказать доставку 
			span.product-color Варилиф
		.order-content
			.order-box
				.order-box__img
					img(src="img/order-1.png", alt="order")
				h3.order-box__title Заполните форму заказа
				p.order-box__text Укажите только свое имя 
					span.text-nowrap и номер 
					| телефона
			.order-box
				.order-box__img.order-box__img--m
					img(src="img/order-2.png", alt="order")
				h3.order-box__title Примите звонок
					br 
					|  оператора
				p.order-box__text Он уточнит ваши адресные данные и ответит на все вопросы
			.order-box
				.order-box__img
					img.order-pack(src="img/pack.png", alt="order")
				h3.order-box__title Оплатите после 
					br 
					| получения
				p.order-box__text Без предоплаты!
			.order-box
				.order-box__img.order-legs
					img(src="img/order-legs.png", alt="order")
				h3.order-box__title Насладителсь 
					br 
					| эффектом
