section.people.block
	.container
		h2.title Аудио- и видеоотзывы
		.people-audio
			.people-audio-box.audio-1
				audio(preload='auto')
					source(preload='auto' src='audio/w45.mp3' type='audio/mp3')
				h3.people-audio__title
					| Мария Семенова (г.Пенза)
			.people-audio-box.audio-2
				audio(preload='auto')
					source(preload='auto' src='audio/w50.mp3' type='audio/mp3')
				h3.people-audio__title
					| Мария Семенова (г.Пенза)
			.people-audio-box.audio-3
				audio(preload='auto')
					source(src='audio/w55.mp3' type='audio/mp3')
				h3.people-audio__title
					| Мария Семенова (г.Пенза)
			.people-audio-box.audio-4
				audio(preload='auto')
					source(src='audio/w55.mp3' type='audio/mp3')
				h3.people-audio__title
					| Мария Семенова (г.Пенза)
		.video-slider
			.people-video-box
				#iO3WfA0nSEM.people-video-youtube.youtube
				h2.people__auth Анна, 25 лет
			.people-video-box
				#miMGVkaLiSk.people-video-youtube.youtube
				h2.people__auth Анна, 25 лет
			.people-video-box
				#4GeEdszys7M.people-video-youtube.youtube
				h2.people__auth Валерия, 30 лет