section.people.block.dark-bg
	.container
		h2.title Аудио- и видеоотзывы
		.people-audio
			.people-audio-box.audio-1
				h3.people-audio__title
					| Мария Семенова 
					span.people-audio__city (г.Пенза)
				audio(preload='auto')
					source(preload='auto' src='audio/w45.mp3' type='audio/mp3')
			.people-audio-box.audio-2
				h3.people-audio__title
					| Мария Семенова 
					span.people-audio__city (г.Пенза)
				audio(preload='auto')
					source(preload='auto' src='audio/w50.mp3' type='audio/mp3')
			.people-audio-box.audio-3
				h3.people-audio__title
					| Мария Семенова 
					span.people-audio__city (г.Пенза)
				audio(preload='auto')
					source(src='audio/w55.mp3' type='audio/mp3')
			.people-audio-box.audio-4
				h3.people-audio__title
					| Мария Семенова 
					span.people-audio__city (г.Пенза)
				audio(preload='auto')
					source(src='audio/w55.mp3' type='audio/mp3')
		.video-slider
			.people-video-box
				iframe.people-video-youtube(frameborder="0" allowfullscreen  width="160" height="100" src="https://www.youtube.com/embed/iO3WfA0nSEM?html5=1&enablejsapi=1")
				h2.people__auth Ирина, 25 лет
			.people-video-box
				iframe.people-video-youtube(frameborder="0" allowfullscreen  width="160" height="100" src="https://www.youtube.com/embed/miMGVkaLiSk?html5=1&enablejsapi=1")
				h2.people__auth Валентина, 55 лет
			.people-video-box
				iframe.people-video-youtube(frameborder="0" allowfullscreen  width="160" height="100" src="https://www.youtube.com/embed/4GeEdszys7M?html5=1&enablejsapi=1")
				h2.people__auth Валерия, 35 лет