section.stat.block(id='stat')
	.container
		h2.title 
			span.product-color VARITONUS 
			| был протестировал в ведущих клиниках России и Израиля
		h3.subtitle.stat__subtitle в контрольном исследовании препарата приняли участие 371 человек
		.stat-info
			.stat-info-box
				.stat-info__percent.product-color
					span.percent 93
						span.stat__persent-size %
				.stat-info__text.text-bold  избавились от варикоза за 1 курс
			.stat-info-box.stat-info-box--border
				.stat-info__percent.percent2.product-color 
					span.percent 87
						span.stat__persent-size %
				.stat-info__text.text-bold боль в ногах прошла спустя&nbsp;неделю&nbsp;применения
			.stat-info-box
				.stat-info__percent.percent3.product-color 
					span.percent 7
						span.stat__persent-size %
				.stat-info__text.text-bold потребовался еще 1 курс лечения варикоза
		.stat__notes Результаты тестирования могут варироваться в&nbsp;зависимости от стадии заболевания
		.stat-sert
			img(src="img/stat-sert-1.jpg", alt="sertificate")
			img(src="img/stat-sert-2.jpg", alt="sertificate")
			img(src="img/stat-sert-3.jpg", alt="sertificate")