section.symptoms.block.symptoms__block
   .container
      h3.symptoms-content__title.title Запущенный варикоз опасен для здоровья
      p.symptops__sub и даже может привести к смерти
      ul.symptoms-content__problems.problems
         li.problems__item.item.item_one
            .item__text-container
               p.problems__content.problems__content-first Образование тромбов, которые могут оторваться и попасть в легкие
            img.problems__img(src="img/symptoms__pic1.jpg" alt="symptom")
         li.problems__item.item.item_two
            .item__text-container
               p.problems__content.problems__content-second Появления 
                 span.text-nowrap трофических язв 
                 |  и&nbsp;незаживающих ран
                 span.text-nowrap  на ногах
            img.problems__img(src="img/symptoms__pic2.jpg" alt="symptom")
         li.problems__item.item.item_three
            .item__text-container
               p.problems__content.problems__content-third Воспаленные вены&nbsp;набухают и увеличиваются
            img.problems__img(src="img/symptoms__pic3.jpg" alt="symptom")
         li.problems__item.item.item_four
            .item__text-container
               p.problems__content.problems__content-fourth На коже появляется дерматит и экзема
            img.problems__img(src="img/symptoms__pic4.jpg" alt="symptom")
      p.symptoms__attention Если не лечить варикоз
        br
        | с каждым днем ноги будут болеть все сильней!







