section.unique.block
	.container
		h2.title.unique__title
			span.product-color VARITONUS
			| решит проблему варикозного расширения вен
		p.unique__subtitle.subtitle тонизирует стенки сосудов и&nbsp;улучшает кровоток
		.unique-content
			.unique__left
				ul.unique-list
					li.unique-list__item
						.unique-list__text-wrap
							p.unique-list__text Улучшает циркуляцию крови
								span.text-nowrap в ногах,
								span.text-bold избавляет от боли,
								br
								|  зуда и тяжести
					li.unique-list__item
						.unique-list__text-wrap
							p.unique-list__text Помогает от отеков, разжижает кровь,
								span.text-bold  возвращает сосудам
									br
									|  эластичность
					li.unique-list__item
						.unique-list__text-wrap
							p.unique-list__text Укрепляет стенки сосудов, нормализует работу клапанов сосудов,
								span.text-bold  предупреждает варикоз
			.unique__right
				.unique__pack.pack
					img.unique__img(src="img/pack.png", alt="Varilif")
					img.unique__quality(src="img/quality_.png", alt="quality")
					img.unique__certificate(src='img/certificate.jpg' alt='certificate')
		.unique__footer
			p.unique__footer-text.text-bold Избавьтесь от варикоза
				br
				| и&nbsp;верните своим ногам силу и здоровье!
			button.btn.ever-popup-btn Заказать
				.btn--small  со скидкой
